.body {
    font-size: 15px;
    line-height: 1.52;
    color: #717f86;
    font-family: "Open", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    padding: 60px, 0px;
    align-items: center;
}

.header-h {
    font-size: 35px;
    font-family: "Satisfy", sans-serif;
    font-weight: 300;
}

#menu-flters {
    margin-bottom: 40px;
}
/* .breakfast{
 margin-top: 100px;
} */

.sectiontwo{
	background-color: #0A2647;
}

#menu-flters ul li a {
    padding: 10px 20px;
    font-size: 14px;
    color: #565656;
    border-radius: 0px;
    border: 1px solid #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}

.menu-restaurant {
    width: 50%;
    float: left;
    padding: 15px;
    position: relative;

}
#menu_list{
    /* margin-top: 100px; */
}
.menu-restaurant .menu-title {
    float: left;
    font-family: Arial;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu-restaurant .menu-line {
    position: absolute;
    bottom: 6px;
    border-bottom: 1px dotted rgb(255, 255, 255);
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.menu-restaurant .menu-price {
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-subtitle {
    display: block;
    float: left;
    color: black;
    font-size: 18px;
}

.menu-restaurant span.clearfix {
    position: relative;
    display: block;
}

input[type="radio"] {
    display: none;
}

.leveled{
    text-align: center;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0px;
    margin: 30px;
    font-size: medium;
    border-radius: 10px;
    background-color: darkgoldenrod;
}

/* input[type="radio"][id="breakfast"]:checked+label {
    background-color: #ffb03b;
    color: white;
} */

input[type="radio"][id="breakfast"]:checked~.lunch,
input[type="radio"][id="breakfast"]:checked~.diner {
    display: none;
}

input[type="radio"][id="lunch"]:checked+label {
    background-color: #ffb03b;
    color: white;
}

input[type="radio"][id="lunch"]:checked~.breakfast,
input[type="radio"][id="lunch"]:checked~.diner {
    display: none;
}

input[type="radio"][id="diner"]:checked+label {
    background-color: #ffb03b;
    color: white;
}

input[type="radio"][id="diner"]:checked~.breakfast,
input[type="radio"][id="diner"]:checked~.lunch {
    display: none;
}

input[type="radio"][id="all"]:checked+label {
    background-color: #ffb03b;
    color: white;
}

.show_all {
    margin-left: 340px;
}